@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root {
    --primary-background: hsl(0,0%,0%);
    --secondary-background: hsl(0,0%,10%);
    --tertiary-background: hsl(0,0%,20%);
    --quaternary-background: hsl(0,0%,30%);
    --primary-text: hsl(0,0%,100%);
    --secondary-text: hsl(0,0%,90%);
  }

body
{
    font-family: 'Quicksand';
    font-size: 28px;
    margin: 0px;
    background-color: var(--primary-background);
}


nav 
{
    padding: 20px 40px 20px 40px;
    overflow: hidden;
    height: 92px;
    justify-content: space-between;
    display: flex;
}

nav div a 
{
    float: left;
    color: var(--primary-text);
    text-align: center;
    text-decoration: none;
    margin: auto 40px auto 40px;
}
nav div a img
{
    height: 14px;
}


nav div
{
display: flex;
}

nav div:hover 
{
    background-color: var(--secondary-background);
    border-radius: 10px;
}

h1
{
    padding:0px;
    color: var(--primary-text);

}

h2
{
    padding:0px;
    color: var(--secondary-text);
}

.page
{
    padding: 40px;
    background-color: var(--secondary-background);
    border-radius: 40px 40px 0px 0px; 
}

.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

@media (orientation: landscape) 
{
    body
    {
    font-size: 14px;
    }

    nav 
    {
    padding: 10px 20px 10px 20px;
    height: 46px;
    }

    nav div a 
    {
    margin: auto 20px auto 20px;
    }

    .page
    {
    padding: 20px;
    border-radius: 20px 20px 0px 0px; 
    }

    .grid
    {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }

    .grid a
    {
    border-radius: 15px;
    }
}

.grid a
{
    width: 100%;
    border-radius: 30px;
}

.grid img
{
    width: 80%;
    margin: 10%;
}

.About
{
    display: flex;
}
.About img
{
    height: 200px;
    border-radius: 10px;
}

@media (prefers-color-scheme: light) 
{
    :root {
        --primary-background: hsl(0,0%,100%);
        --secondary-background: hsl(0,0%,90%);
        --tertiary-background: hsl(0,0%,70%);
        --quaternary-background: hsl(0, 0%,80%);
        --primary-text: hsl(0,0%,0%);
      }
}